@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=PT+Sans+Caption&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --darkPurple : #22162b;
    --russianViolet :#451f55;
    --royalPurple :#724e91;
    --wildBlue :#99b2dd;
    --nonPhotoBlue : #9bd9eb;
    --celeste :#9dfff9;
    --white : #cfcece;
}

body{
    overflow-x: hidden;
}

/* Class Portafolio */

.titulo-portafolio{
    position: relative;
    font-family: 'Orbitron', sans-serif;
    color: var(--white);
    top: 20px;
    margin: 0 43% 80px;

}

.car1,.car2,.car3{
    height: 80vh;
    border: 1px solid var(--celeste);
}


/* ID */

#portafolio{
    background: linear-gradient(180deg,var(--russianViolet) 0%,var(--royalPurple)50%,var(--wildBlue)100%);
    margin-left: 250px;
}
