@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=PT+Sans+Caption&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --darkPurple : #22162b;
    --russianViolet :#451f55;
    --royalPurple :#724e91;
    --wildBlue :#99b2dd;
    --nonPhotoBlue : #9bd9eb;
    --celeste :#9dfff9;
    --white : #cfcece;
}

body{
    overflow-x: hidden;
}

/* Class Inicio */
.inicio-div{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 1100px;
    height: 700px;
}

.texto-inicio{
    margin-top: 150px;
    font-size: 90px;    
    font-family: 'Orbitron', sans-serif;
}


/* ID */


#inicio{
    position: relative;
    min-height: 100vh;
    background: var(--russianViolet);
    margin-left: 250px;
}

/* Animacion */
.texto-inicio{
    animation: flicker 2.5s infinite alternate;
    color: var(--white);	
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px var(--royalPurple),
        0 0 11px var(--royalPurple),
        0 0 19px var(--royalPurple),
        0 0 40px var(--russianViolet),
        0 0 80px var(--russianViolet),
        0 0 90px var(--russianViolet),
        0 0 100px var(--russianViolet),
        0 0 150px var(--russianViolet)    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


